<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="User ID=gd;Initial Catalog=GD1C2014;Data Source=localhost\SQLSERVER2008;Password=gd2014;MultipleActiveResultSets=True"></add>
    <add key="Fecha" value="10/08/2014"></add>
    <add key="miParametro" value="Mi valor asd" />
  </appSettings>
</configuration>